<!DOCTYPE html>
<html>
    <head>
        <!-- styles links -->
            <!-- main stayle -->
            <link rel="stylesheet" href="../style/clientsdata.css" type="text/css">
            <link rel="stylesheet" href="../style/all.min.css">
            <!-- Main Fonts (Source Code Pro): Regular 400, Regular 400 italic, Bold 700 -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto+Condensed&family=Source+Code+Pro:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        <!-- web title -->
        <title>AT:Clients</title>
    </head>
    <body>
        <div class="father">
            <section class="container">
                <section class="head">
                    <i class="fab fa-black-tie"></i>
                    <h1>Table of claints</h1>
                </section>
                <section class="body">
                    <div class="i">
                        <i class="fas fa-plus-square add"></i>
                    </div>
                    
                    <table>
                        <tr>
                            <th headers="column">Code</th>
                            <th>Name</th>
                            <th>Phone number</th>                            
                            <th>Address</th>
                        </tr>
                    </table>
                </section>
            </section>

        </div>
        <script src="../js/clientsdata.js"></script>
    </body>
</html>