<!DOCTYPE html>
<html>
    <head>
        <!-- styles links -->
            <!--  main stayle-->
            <link rel="stylesheet" href="style/home.css" type="text/css">

           

        <link rel="stylesheet" href="style/all.min.css">

            <!-- Main Fonts (Source Code Pro): Regular 400, Regular 400 italic, Bold 700 -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto+Condensed&family=Source+Code+Pro:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        <!-- page title -->
        <title>AT: Home</title>
    </head>
    <body>
        <section class="container">
            <a href="/home/products">
                <div class="card">
                    <i class="fas fa-cogs"></i>
                    <h3>Products</h3>
                    <p>Here you can add, delet and update your company broducts.</p>

                </div>
            </a>

            <a href="/home/clients">
                <div class="card">
                    <i class="fab fa-black-tie"></i>
                    <h3>clients</h3>
                    <p>Here you can add, delet and update your company Claints.</p>

                </div>
            </a>

            <a href="/home/receipts">
                <div class="card">
                    <i class="fas fa-file-invoice-dollar"></i>
                    <h3>Receipt</h3>
                    <p>Here you can add, delet and update your Claints receipts.</p>

                </div>
            </a>
        </section>
    </body>
</html>