<!DOCTYPE html>
<html>
    <head>
        <!-- styles links -->
            <!-- main stayle -->
        <link rel="stylesheet" href="style/insex.css" type="text/css">

            <!-- Main Fonts (Source Code Pro): Regular 400, Regular 400 italic, Bold 700 -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto+Condensed&family=Source+Code+Pro:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        <!-- web title -->
        <title>AT:Sign In</title>
    </head>
    <body>
        <!-- sign in form -->
        <div class="sign-in">
            
                    <select name = "user" id="user">
                        <option selected disabled>Select user</option>
                        <option value="admin">Admin</option>
                    </select>
                    <input id="pass" name = "pass" type="password" placeholder="Write the user password">
                    <a><button id="submit">Sign in</button></a>
                
        </div>    
        <script src="js/sign.js"></script>    
    </body>
</html>